body
{
  background-position: center;
  background-size: cover;
}
.heading {
    width: 100%;
    margin-bottom: 7px;
}
.heading h2{
  float: left;
}
.heading button{
   float:right;
    border: 2px solid lime;
}
.start{
    margin: 0px;
    width: 150;
    font-size: 25px;
}
.restart{
    margin :0px;
    width : 150;
    font-size: 25px;
}
.footer{
    background-color: black;
    color : white;
    line-height: 3;
}